DirectoryIndex index.php
php_value default_charset utf-8

RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml/x-httpd-php .php .htm .html .phtml .txt .xml

RewriteEngine On
Options +FollowSymlinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?q=$1 